---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Mac SM"
	pubDate={new Date('January 08 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Senior Technology Leader in Financial Services (FS) specialising in Digital Banking, Digital Payments,
        FS Cloud adoption Strategy, Data Analytics, AI/ML, Generative AI, Agentic AI and Cloud Transformation.
	</p>

	<p>
		Mac Mahalingam is a Senior Solutions Architect for Payments in the Global Financial Services group at 
        Amazon Web Services based in London. Mac works closely with strategic AWS FS customers who are the 
        top 4 global payment providers. Prior to AWS, Mac has spent 19+ years working for banks such as Standard Bank, 
        Lloyds Banking Group and HSBC Group in Architecture Leadership roles. He has been the Chief Architect for two 
        UK digital banks in his career. In addition to being a Cubs Scouts Leader in Kent outside his day job, he is 
        also a Technology mentor for global Nervous System  Quotient (NSQ) initiative called “Human Operating System Architecture”.
	</p>

	<p>
		Email: mac@macsm.uk
	</p>
</Layout>
